## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,puerto ayora,EC,80.60,scattered clouds,-0.7393,-90.3518,Castillo Galapagos
1,5,vaini,TO,82.40,light rain,-21.2000,-175.2000,Keleti Beach Resort
2,17,caravelas,BR,75.31,scattered clouds,-17.7125,-39.2481,Pousada dos Navegantes
3,21,jizan,SA,75.20,clear sky,17.3333,42.6667,شهدان. ابوالحجر
4,23,port blair,IN,75.31,scattered clouds,11.6667,92.7500,Welcomhotel Bay Island Port Blair

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start_df = vacation_df.loc[vacation_df['City'] == 'codrington']
vacation_stop1_df = vacation_df.loc[vacation_df['City'] == 'flinders']
vacation_stop2_df = vacation_df.loc[vacation_df['City'] == 'corowa']
vacation_stop3_df = vacation_df.loc[vacation_df['City'] == 'morwell']
vacation_end_df = vacation_df.loc[vacation_df['City'] == 'codrington']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
Codrington = vacation_start_df["Lat"].to_numpy()[0],vacation_start_df["Lng"].to_numpy()[0]
Flinders = vacation_stop1_df["Lat"].to_numpy()[0],vacation_stop1_df["Lng"].to_numpy()[0]
Corowa = vacation_stop2_df["Lat"].to_numpy()[0],vacation_stop2_df["Lng"].to_numpy()[0]
Morwell = vacation_stop3_df["Lat"].to_numpy()[0],vacation_stop3_df["Lng"].to_numpy()[0]
Codrington = vacation_end_df["Lat"].to_numpy()[0],vacation_end_df["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs
#The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Codrington2Flinders = gmaps.directions_layer(Codrington, Flinders)
fig.add_layer(Codrington2Flinders)
Flinders2Corowa = gmaps.directions_layer(Flinders, Corowa)
fig.add_layer(Flinders2Corowa)
Corowa2Morwell = gmaps.directions_layer(Corowa, Morwell)
fig.add_layer(Corowa2Morwell)
Morwell2Codrington = gmaps.directions_layer(Morwell,Codrington)
fig.add_layer(Morwell2Codrington)

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df,vacation_stop1_df,vacation_stop2_df,vacation_stop3_df,vacation_end_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,85,codrington,AU,80.67,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
1,602,flinders,AU,80.01,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
2,232,corowa,AU,81.00,scattered clouds,-36.0333,146.3833,Statesman Motor Inn
3,675,morwell,AU,81.00,clear sky,-38.2333,146.4000,Morwell Motel
4,85,codrington,AU,80.67,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))